.container {
    width: 100%;
    padding: 0 2rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.image-container {
    position: relative;
}

.body-img {
    width: 100%;
    height: 65vh;
}

.section {
    width: 100%;
    padding: 2rem;
}

.section1 {
    background-color: #981F49;
    color: white;
    text-align: center;
}

.title {
    margin-bottom: 2rem;
}

.title-head {
    font-weight: 400;
    font-size: 2rem;
}

.title-info {
    font-size: 1.2rem;
    width: 58%;
    line-height: 1.6rem;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #ec3d7b;
}

.btn-contact {
    background-color: white;
    color: #981F49;
}

.section2, .subsection {
    padding: 1rem 4rem;
    font-size: 1.2rem;
    text-align: center;
}

.para {
    color: #981F49;
}

.border {
    height: 1px;
    background-color: rgb(181, 177, 177);
    width: 100%;
}

.section3 {
    text-align: center;
    padding: 1.5rem;
}

.section3-head {
    color: #981F49;
    font-size: 1.4rem;
}

.sec3-details {
    margin-top: 1rem;
}
